body {
    padding: 0; 
    margin: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100%;
}
h1{
    position: absolute;
    top:20%;
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    width: 100%;
}